params {
    samplesheet = null
    outdir = null
}

process {

    executor = 'slurm'

    withName: INPUT_CHECK {
        cpus = 1
        memory = '1 GB'
        time = '1h'
        publishDir = [
            path: "${params.outdir}/input_check",
            mode: 'copy'
        ]
    }

    withName: FASTQC {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        publishDir = [
            path: "${params.outdir}/fastqc",
            mode: 'copy'
        ]
    }

    withName: FASTP {
        cpus = 1
        memory = '2 GB'
        time = '2h'
        publishDir = [
            path: "${params.outdir}/fastp",
            mode: 'copy'
        ]
    }

    withName: ADAPTERREMOVAL {
        cpus = 1
        memory = '2 GB'
        time = '2h'
    }

    withName: BBMAP_BBDUK {
        cpus = 1
        memory = '2 GB'
        time = '2h'
    }
    withName: VSEARCH_DEREPLICATE {
        cpus = 1
        memory = '2 GB'
        time = '2h'
    }
}

singularity {
    enabled = true
    autoMounts = true
}

profiles {

    standard {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
        singularity.enabled = true
    }
}