/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: FASTP_POLYG {
        ext.args   = [
            "--trim_poly_g", 
            "--poly_g_min_len ${params.preprocessing_polyg_min_len}",
            params.preprocessing_trim5p != 0 ? "--trim_front1 ${params.preprocessing_trim5p}" : "",
            params.preprocessing_trim3p != 0 ? "--trim_tail1 ${params.preprocessing_trim3p}" : "",
            //params.preprocessing_skipadaptertrim ? "--disable_adapter_trimming" : params.preprocessing_adapterlist ? "" : params.preprocessing_adapter1 ? "--adapter_sequence ${params.preprocessing_adapter1}" : "",
            "--length_required ${params.preprocessing_minlength}"
        ].join(' ').trim()
        ext.prefix = { "${meta.id}_polyG_trim" }
        publishDir = [
            [
                path: { "${params.outdir}/preprocessing/fastp/polyg_trim/data/" },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
            ],
            [
                path: { "${params.outdir}/preprocessing/fastp/polyg_trim/stats/" },
                mode: params.publish_dir_mode,
                pattern: '*.{log,html,json}',
            ],
        ]
    }

    withName: ADAPTERREMOVAL_SINGLE {
        ext.args   = [
            "--minadapteroverlap ${params.adapterremoval_minadapteroverlap}",
            params.preprocessing_trim5p != 0 ? "--trim5p ${params.preprocessing_trim5p}" : "",
            params.preprocessing_trim3p != 0 ? "--trim3p ${params.preprocessing_trim3p}" : "",
            "--trimqualities --minquality ${params.adapterremoval_trimbasequalitymin}",
            "--qualitymax ${params.adapterremoval_qualitymax}",
            "--minlength ${params.preprocessing_minlength}",
        ].join(' ').trim()
        ext.prefix = { "${meta.id}_adapter_trimmed_se" }
        publishDir = [
            [
                path: { "${params.outdir}/preprocessing/adapterremoval/data/" },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
            ],
            [
                path: { "${params.outdir}/preprocessing/adapterremoval/stats/" },
                mode: params.publish_dir_mode,
                pattern: '*.settings',
            ],
        ]
    }

    withName: ADAPTERREMOVAL_PAIRED {
        ext.args   = [
            "--collapse",
            "--minadapteroverlap ${params.adapterremoval_minadapteroverlap}",
            params.preprocessing_trim5p != 0 ? "--trim5p ${params.preprocessing_trim5p}" : "",
            params.preprocessing_trim3p != 0 ? "--trim3p ${params.preprocessing_trim3p}" : "",
            "--trimqualities --minquality ${params.adapterremoval_trimbasequalitymin}",
            "--qualitymax ${params.adapterremoval_qualitymax}",
            "--minlength ${params.preprocessing_minlength}",
        ].join(' ').trim()
        ext.prefix = { "${meta.id}_adapter_trimmed_pe" }
        publishDir = [
            [
                path: { "${params.outdir}/preprocessing/adapterremoval/data/" },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
            ],
            [
                path: { "${params.outdir}/preprocessing/adapterremoval/stats/" },
                mode: params.publish_dir_mode,
                pattern: '*.settings',
            ],
        ]
    }

    withName: ADNA_TRIM {
        ext.args = [
            "-l ${params.preprocessing_minlength}", 
            "-o ${params.adnatrim_min_overlap_length}"
        ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/preprocessing/adna_trim/data/" },
                mode: params.publish_dir_mode,
                pattern: '*.gz',
            ],
            [
                path: { "${params.outdir}/preprocessing/adna_trim/stats/" },
                mode: params.publish_dir_mode,
                pattern: '*.summary',
            ],
        ]
    }

    withName: FASTP_LOW_COMPLEXITY {
        ext.args   = [
            params.preprocessing_fastp_complexityfilter ? "--low_complexity_filter --complexity_threshold ${params.preprocessing_fastp_complexityfilter_threshold}" : "",
        ].join(' ').trim()
        ext.prefix = { "${meta.id}_low_complexity" }
        publishDir = [
            [
                path: { "${params.outdir}/preprocessing/fastp/low_complexity/data/" },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
            ],
            [
                path: { "${params.outdir}/preprocessing/fastp/low_complexity/stats/" },
                mode: params.publish_dir_mode,
                pattern: '*.{log,html,json}',
            ],
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
