/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    errorStrategy = 'finish'
    executor = 'slurm'

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC_RAW_READS {
        //memory = 36G
        //cpus = 8
        ext.args = '--quiet'
        publishDir = [ 
            path: { "${params.outdir}/fastqc/raw_reads/" },
            mode: params.publish_dir_mode,
            pattern: '*.{html,zip,yml}',
        ]
    }

    withName: FASTP_POLYG {
        //memory = 36G
        //cpus = 8
        ext.args   = [
            "--trim_poly_g",
            "--trim_poly_x",
            "--poly_g_min_len ${params.preprocessing_polyg_min_len}",
            params.preprocessing_trim5p != 0 ? "--trim_front1 ${params.preprocessing_trim5p}" : "",
            params.preprocessing_trim3p != 0 ? "--trim_tail1 ${params.preprocessing_trim3p}" : "",
            //params.preprocessing_skipadaptertrim ? "--disable_adapter_trimming" : params.preprocessing_adapterlist ? "" : params.preprocessing_adapter1 ? "--adapter_sequence ${params.preprocessing_adapter1}" : "",
            "--length_required ${params.preprocessing_minlength}"
        ].join(' ').trim()
        ext.prefix = { "${meta.id}_polyG_trim" }
        publishDir = [
            [
                path: { "${params.outdir}/preprocessing/fastp/polyg_trim/data/" },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
            ],
            [
                path: { "${params.outdir}/preprocessing/fastp/polyg_trim/stats/" },
                mode: params.publish_dir_mode,
                pattern: '*.{log,html,json}',
            ],
        ]
    }

    withName: ADAPTERREMOVAL_SINGLE {
        //memory = 36G
        //cpus = 8
        ext.args   = [
            "--minadapteroverlap ${params.adapterremoval_minadapteroverlap}",
            params.preprocessing_trim5p != 0 ? "--trim5p ${params.preprocessing_trim5p}" : "",
            params.preprocessing_trim3p != 0 ? "--trim3p ${params.preprocessing_trim3p}" : "",
            "--trimqualities --minquality ${params.adapterremoval_trimbasequalitymin}",
            "--qualitybase ${params.adapterremoval_qualitybase}",
            "--minlength ${params.preprocessing_minlength}",
            "--barcode-mm-r1 ${params.adapterremoval_barcode_mm_r1}",
            "--barcode-mm-r2 ${params.adapterremoval_barcode_mm_r2}"
        ].join(' ').trim()
        ext.prefix = { "${meta.id}_adapter_trimmed_se" }
        publishDir = [
            [
                path: { "${params.outdir}/preprocessing/adapterremoval/data/" },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
            ],
            [
                path: { "${params.outdir}/preprocessing/adapterremoval/stats/" },
                mode: params.publish_dir_mode,
                pattern: '*.settings',
            ],
        ]
    }

    withName: ADAPTERREMOVAL_PAIRED {
        //memory = 36G
        //cpus = 8
        ext.args   = [
            "--collapse",
            "--minadapteroverlap ${params.adapterremoval_minadapteroverlap}",
            params.preprocessing_trim5p != 0 ? "--trim5p ${params.preprocessing_trim5p}" : "",
            params.preprocessing_trim3p != 0 ? "--trim3p ${params.preprocessing_trim3p}" : "",
            "--trimqualities --minquality ${params.adapterremoval_trimbasequalitymin}",
            "--qualitybase ${params.adapterremoval_qualitybase}",
            "--minlength ${params.preprocessing_minlength}",
            "--barcode-mm-r1 ${params.adapterremoval_barcode_mm_r1}",
            "--barcode-mm-r2 ${params.adapterremoval_barcode_mm_r2}"
        ].join(' ').trim()
        ext.prefix = { "${meta.id}_adapter_trimmed_pe" }
        publishDir = [
            [
                path: { "${params.outdir}/preprocessing/adapterremoval/data/" },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
            ],
            [
                path: { "${params.outdir}/preprocessing/adapterremoval/stats/" },
                mode: params.publish_dir_mode,
                pattern: '*.settings',
            ],
        ]
    }

    withName: ADNA_TRIM {
        //memory = 36G
        //cpus = 8
        ext.args = [
            "-l ${params.preprocessing_minlength}", 
            "-o ${params.adnatrim_min_overlap_length}"
        ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/preprocessing/adna_trim/data/" },
                mode: params.publish_dir_mode,
                pattern: '*.gz',
            ],
            [
                path: { "${params.outdir}/preprocessing/adna_trim/stats/" },
                mode: params.publish_dir_mode,
                pattern: '*.summary',
            ],
        ]
    }

    withName: FASTP_LOW_COMPLEXITY {
        //memory = 36G
        //cpus = 8
        ext.args   = [
            "--dedup",
            params.preprocessing_fastp_complexityfilter ? "--low_complexity_filter --complexity_threshold ${params.preprocessing_fastp_complexityfilter_threshold}" : "",
            "--length_required ${params.preprocessing_minlength}"

        ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/preprocessing/fastp/low_complexity/data/" },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
            ],
            [
                path: { "${params.outdir}/preprocessing/fastp/low_complexity/stats/" },
                mode: params.publish_dir_mode,
                pattern: '*.{log,html,json}',
            ],
        ]
    }

    withName: FASTQC_PROCESSED_READS {
        //memory = 36G
        //cpus = 8
        ext.args = '--quiet'
        publishDir = [ 
            path: { "${params.outdir}/fastqc/processed/" },
            mode: params.publish_dir_mode,
            pattern: '*.{html,zip,yml}',
        ]
    }

    withName: DAMAGE_BAYES {
        //memory = 20G
        //cpus = 4
        publishDir = [ 
            path: { "${params.outdir}/damage_bayes/" },
            mode: params.publish_dir_mode,
            pattern: '**/*',
        ]
    }

    withName: KRAKENUNIQ_PRELOADEDKRAKENUNIQ {
        // memory = 100G
        // cpus = 64
        publishDir = [
            path: { "${params.outdir}/krakenuniq/" },
            mode: params.publish_dir_mode,
            pattern: '*.{txt,fastq.gz}',
        ]
    }

    withName: KRAKEN_FILTERING {
        //memory = 20G
        //cpus = 4
        publishDir = [
            path: { "${params.outdir}/krakenfiltering/" },
            mode: params.publish_dir_mode,
            pattern: '*.{txt}',
        ]
    }

    withName: KRAKEN_PLOT {
        // memory = 20G
        // cpus = 4
        publishDir = [
            path: { "${params.outdir}/krakenplot/" },
            mode: params.publish_dir_mode,
            pattern: '**/*',
        ]
    }

    withName: KRAKENTOOLS_KREPORT2KRONA {
        // cpus = 1
        publishDir = [
            path: { "${params.outdir}/krakenuniq/kronareport/" },
            mode: params.publish_dir_mode,
            pattern: '*.txt',
        ]
    }

    withName: 'MULTIQC_RAW' {
        // memory = 36G
        // cpus = 8
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc/raw_reads" },
            mode: params.publish_dir_mode,
            pattern: '*.html',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC_PROCESSED' {
        // memory = 36G
        // cpus = 8
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc/processed_reads" },
            mode: params.publish_dir_mode,
            pattern: '*.html',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


}
